body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #001524;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.left, nav.right {
    display: flex;
    flex-direction: column;
}

nav.left ul, nav.right ul {
    list-style-type: none;
    padding: 0;
}

nav.left li, nav.right li {
    margin: 10px 0;
}

nav a {
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.home-bg {
    background-image: url("yuhuu.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    height: 50vh;
}

.btn {
    background-color: #001524;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #3a4e5a;
}

section p {
    
    display: flex;
    align-items: center;
}

section p + .btn {
    margin-left: auto;
}

.about-text {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.about-text p, .about-text .btn {
    margin: 5px 0; 
}


/* style.css */
/* ... (kode CSS lainnya) */

.image-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.image-container img {
    max-width: 100%; 
    margin: 10px 0; 
}




